
<% @posts.each do |post| %>
  <%= post.title %> <a href="/modify/<%= post.id %>">수정</a> <br>
  <%= post.content %> <a href="/delete/<%= post.id %>">삭제</a> <hr>
<% end %>
<br>
<a href="/write">글 쓰기</a>